<form
  [formGroup]="form"
  (ngSubmit)="handleSubmit()"
  class="flex flex-row items-center h-16 rounded-xl w-full px-4"
>

  <div class="flex-grow">
    <label
      for="default-search"
      class="mb-2 text-sm font-medium text-white sr-only dark:text-gray-900"
      >Search</label
    >
    <div class="relative">
      <input
        type="text"
        id="default-search"
        class="block w-full p-4 text-sm text-white dark:text-gray-900 border border-gray-300 outline-none rounded-lg bg-[#343541] dark:bg-[#F1F1F5]"
        placeholder="Mensaje..."
        formControlName="prompt"
        [autocomplete]="disableCorrections ? 'on' : 'off'"
        [spellcheck]="disableCorrections ? 'on' : 'off'"
      />
      <button
        type="submit"
        class="text-white dark:text-gray-900 absolute end-2.5 bottom-2.5 font-medium rounded-lg text-sm px-4 py-2"
        [ngClass]="{ 'bg-white dark:bg-slate-800': form.valid, 'bg-gray-500 dark:bg-slate-300': !form.valid }"
        type="submit"
        [disabled]="form.invalid"
      >
        <i class="dark:text-white text-gray-900 fa-regular fa-circle-up"></i>
      </button>
    </div>
  </div>
</form>
