<main class="lg:flex justify-around min-h-[100vh]">
  <section class="lg:w-2/5 flex flex-col justify-center text-slate-800 dark:text-white">
    <div class="p-6 lg:p-12 max-w-[650px] mx-auto">
      <h1 class="heading text-5xl lg:text-8xl text-[#aa7aff]">Profile GPT</h1>
      <p class="leading-relaxed">
        Bienvenidos a mi chatbot personal desarrollado con OpenAI. Soy
        <a
          href="https://www.linkedin.com/in/jlazaro135/"
          class="hover:underline text-[#00B6AB] font-bold"
          target="_blank"
          >Jesús Lázaro</a
        >, desarrollador Front-end y he desarrollado este asistente que
          responderá a todas vuestras preguntas sobre mi perfil profesional.
      </p>
      <p class="mt-4 leading-loose underline">Visita mi perfil: </p>
      <div class="buttons flex py-5">
        <navigate-button></navigate-button>
      </div>
    </div>
  </section>
  <section class="lg:w-3/5 flex items-center dark:bg-slate-700 bg-gray-100 justify-center">
    <chat></chat>
  </section>
</main>
